.mediaViewInfo {
  --web-view-name: iPhone 13 Pro - Calling;
  --web-view-id: iPhone_13_Pro_-_Calling;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: iPhone_13_Pro_-_Calling;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#iPhone_13_Pro_-_Calling {
  position: absolute;
  width: 483px;
  height: 759px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: iPhone 13 Pro - Calling;
  --web-view-id: iPhone_13_Pro_-_Calling;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#frame {
  opacity: 0.644;
  fill: rgba(151, 187, 215, 1);
}
.frame {
  position: absolute;
  overflow: visible;
  width: 339px;
  height: 698px;
  left: 65px;
  top: 31px;
}
#bezzle {
  fill: rgba(0, 0, 0, 1);
}
.bezzle {
  position: absolute;
  overflow: visible;
  width: 329px;
  height: 688px;
  left: 70px;
  top: 36px;
}
#screen {
  fill: rgba(255, 255, 255, 1);
}
.screen {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.345));
  position: absolute;
  overflow: visible;
  width: 321px;
  height: 681.5px;
  left: 81px;
  top: 49px;
}
#Image_4 {
  position: absolute;
  width: 307px;
  height: 665px;
  left: 80px;
  top: 48px;
  overflow: visible;
}
#notch {
  fill: rgba(0, 0, 0, 1);
}
.notch {
  filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.161));
  position: absolute;
  overflow: visible;
  width: 145px;
  height: 57px;
  left: 170px;
  top: 36px;
}
#outer-camera {
  fill: rgba(13, 13, 13, 1);
}
.outer-camera {
  filter: drop-shadow(-1px 3px 6px rgba(255, 255, 255, 0.161));
  position: absolute;
  overflow: visible;
  width: 30px;
  height: 30px;
  left: 182px;
  top: 51px;
}
#inner-camera {
  fill: rgba(14, 0, 118, 1);
}
.inner-camera {
  position: absolute;
  overflow: visible;
  width: 2px;
  height: 2px;
  left: 187px;
  top: 56px;
}
#speaker {
  fill: transparent;
}
.speaker {
  position: absolute;
  overflow: visible;
  width: 58px;
  height: 7px;
  left: 205px;
  top: 37px;
}
#top-right-notch {
  fill: rgba(149, 175, 201, 1);
}
.top-right-notch {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 55px;
  left: 62px;
  top: 222px;
}
#Rectangle_1 {
  fill: rgba(149, 175, 201, 1);
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 399px;
  top: 103px;
}
#Rectangle_2 {
  fill: rgba(149, 175, 201, 1);
}
.Rectangle_2 {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 399px;
  top: 655px;
}
#power-button {
  fill: rgba(149, 175, 201, 1);
}
.power-button {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 83px;
  left: 404px;
  top: 240px;
}
#top-right-notch_t {
  fill: rgba(149, 175, 201, 1);
}
.top-right-notch_t {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 331px;
  top: 31px;
}
#volume-down {
  fill: rgba(149, 175, 201, 1);
}
.volume-down {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 55px;
  left: 62px;
  top: 288px;
}
#silent {
  fill: rgba(149, 175, 201, 1);
}
.silent {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 29px;
  left: 62px;
  top: 170px;
}
#top-left-notch {
  fill: rgba(149, 175, 201, 1);
}
.top-left-notch {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 132px;
  top: 31px;
}
#left-notch-top {
  fill: rgba(149, 175, 201, 1);
}
.left-notch-top {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 65px;
  top: 103px;
}
#left-notch-bottom {
  fill: rgba(149, 175, 201, 1);
}
.left-notch-bottom {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 65px;
  top: 655px;
}
#bottom-left-notch {
  fill: rgba(149, 175, 201, 1);
}
.bottom-left-notch {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 133px;
  top: 724px;
}
#bottom-right-notch {
  fill: rgba(149, 175, 201, 1);
}
.bottom-right-notch {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 332px;
  top: 724px;
}
