#iPhone_13_Pro {
  position: absolute;
  width: 483px;
  height: 759px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: iPhone 13 Pro;
  --web-view-id: iPhone_13_Pro;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#iPhone_13_Pro #frame {
  opacity: 0.644;
  fill: rgba(151, 187, 215, 1);
}
#iPhone_13_Pro .frame {
  position: absolute;
  overflow: visible;
  width: 339px;
  height: 698px;
  left: 65px;
  top: 31px;
}
#iPhone_13_Pro #bezzle {
  fill: rgba(0, 0, 0, 1);
}
#iPhone_13_Pro .bezzle {
  position: absolute;
  overflow: visible;
  width: 329px;
  height: 688px;
  left: 70px;
  top: 36px;
}
#iPhone_13_Pro #screen {
  fill: rgba(255, 255, 255, 1);
}
#iPhone_13_Pro .screen {
  position: absolute;
  overflow: visible;
  width: 306px;
  height: 664px;
  left: 81px;
  top: 49px;
}
#iPhone_13_Pro #background-img {
  position: absolute;
  width: 307px;
  height: 664px;
  left: 81px;
  top: 49px;
  overflow: visible;
}
#iPhone_13_Pro #notch {
  fill: rgba(0, 0, 0, 1);
}
#iPhone_13_Pro .notch {
  position: absolute;
  overflow: visible;
  width: 127px;
  height: 27px;
  left: 170px;
  top: 48px;
}
#iPhone_13_Pro #camera {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 182px;
  top: 51px;
  overflow: visible;
}
#iPhone_13_Pro #outer-camera {
  fill: rgba(13, 13, 13, 1);
}
#iPhone_13_Pro .outer-camera {
  position: absolute;
  overflow: visible;
  width: 12px;
  height: 12px;
  left: 0px;
  top: 0px;
}
#iPhone_13_Pro #inner-camera {
  fill: rgba(0, 55, 95, 1);
}
#iPhone_13_Pro .inner-camera {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 4px;
  left: 4px;
  top: 4px;
}
#iPhone_13_Pro #speaker {
  fill: rgba(49, 49, 49, 1);
}
#iPhone_13_Pro .speaker {
  position: absolute;
  overflow: visible;
  width: 58px;
  height: 7px;
  left: 205px;
  top: 37px;
}
#iPhone_13_Pro #power-button {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .power-button {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 83px;
  left: 404px;
  top: 240px;
}
#iPhone_13_Pro #volume-controls {
  position: absolute;
  width: 3px;
  height: 173px;
  left: 62px;
  top: 170px;
  overflow: visible;
}
#iPhone_13_Pro #volume-down {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .volume-down {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 55px;
  left: 0px;
  top: 118px;
}
#iPhone_13_Pro #volume-up {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .volume-up {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 55px;
  left: 0px;
  top: 52px;
}
#iPhone_13_Pro #silent-toggle {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .silent-toggle {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 29px;
  left: 0px;
  top: 0px;
}
#iPhone_13_Pro #antenna-bands {
  position: absolute;
  width: 339px;
  height: 698px;
  left: 65px;
  top: 31px;
  overflow: visible;
}
#iPhone_13_Pro #t-r-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .t-r-band {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 266px;
  top: 0px;
}
#iPhone_13_Pro #t-l-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .t-l-band {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 67px;
  top: 0px;
}
#iPhone_13_Pro #l-t-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .l-t-band {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 0px;
  top: 72px;
}
#iPhone_13_Pro #l-b-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .l-b-band {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 0px;
  top: 624px;
}
#iPhone_13_Pro #b-l-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .b-l-band {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 68px;
  top: 693px;
}
#iPhone_13_Pro #b-r-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .b-r-band {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 5px;
  left: 267px;
  top: 693px;
}
#iPhone_13_Pro #r-b-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .r-b-band {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 334px;
  top: 624px;
}
#iPhone_13_Pro #r-t-band {
  fill: rgba(149, 175, 201, 1);
}
#iPhone_13_Pro .r-t-band {
  position: absolute;
  overflow: visible;
  width: 5px;
  height: 4px;
  left: 334px;
  top: 72px;
}
/* Default children styling */
#iPhone_13_Pro .children {
  position: absolute;
  overflow: visible;
  width: 306px;
  height: 664px;
  left: 81px;
  top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 1;
}
